<?xml version="1.0"?>
<model>
  <name>TurtleBot3 Burger 3D LiDAR</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>LiDAR Object Detector project</name>
    <email>noreply@example.com</email>
  </author>
  <description>
    TurtleBot3 Burger simulation model with a 16-channel GPU LiDAR.
  </description>
</model>
